/* **********
 * IMPORTS  *
 ********** */
 

/* Sanitizer */
@import url("modules/sanitizer.css");

/* Font */
@import url("modules/font.css");

/* Material Icons */
@import url("modules/material-icons.css");

/* Utilities */
@import url("modules/utilities.css");

/* Animations */
@import url("modules/animations.css");








/* **********
 * GLOBALS  *
 ********** */
:root {
  --primary-color: #000000;
  --accent-color: #696868;

  --success-color: #0f766e;
  --error-color: #B71C1C;

  --text-color: #312e2e;
  --light-text-color: #7e7474;

  --app-background-color: #f7f1f1;
}









/* ***********
 * APP BODY  *
 *********** */
body {
    font-family: "Montserrat", "Roboto", sans-serif;
    background-color: var(--app-background-color);
}









/* ****************
 * APP CONTAINER  *
 **************** */
#app_container {
  padding:15px;
}



/* ************
 * APP HEADER *
 ************ */
#app_header {
  text-align: center;
}
#app_header #app_title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 35px;
}
#app_header #app_subtitle {
  color: var(--light-text-color);
}





/* *************
 * APP CONTENT *
 ************* */
#app_content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#app_content .spacer {
  flex: 0.2;
}

#app_content .grid-container {
  flex:1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 15px;
}




/* SHIPS' STATES */
#app_content .grid-container .ships-states {

}

#app_content .grid-container .ships-states p {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Ships Row */
#app_content .grid-container .ships-states .ships-row {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

/* Ship */
#app_content .grid-container .ships-states .ships-row .ship {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}
#app_content .grid-container .ships-states .ships-row .ship:first-child {
  margin-left: 0;
}

/* Ship Part */
#app_content .grid-container .ships-states .ships-row .ship .part {
  background-color: var(--primary-color);
  margin:3px;
  width: 10px;
  height: 10px;
}
#app_content .grid-container .ships-states .ships-row .ship.sunk .part {
  background-color: var(--error-color);
  opacity: 0.5;
}





/* GRID */
#app_content .grid-container .grid {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  gap:3px;
}


/* GRID TILES */
#app_content .grid-container .grid .tile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}


/* Unknown */
#app_content .grid-container .grid .tile.unknown {
  background-color: white;
}
#app_content .grid-container #machine_grid.grid .tile.unknown {
  cursor: pointer;
}
#app_content .grid-container #machine_grid.grid .tile.unknown:hover {
  background-color: var(--app-background-color);
}

#app_content .grid-container.disabled #machine_grid.grid .tile.unknown {
  cursor: not-allowed;
}
#app_content .grid-container.disabled #machine_grid.grid .tile.unknown:hover {
  background-color: white;
}

/* Empty */
#app_content .grid-container .grid .tile.empty {
  background-color: var(--app-background-color);
  cursor: not-allowed;
}
#app_content .grid-container .grid .tile.empty::before {
  content: "●";
}

/* Derived Empty */
#app_content .grid-container .grid .tile.empty.derived {
  opacity: 0.3;
}

/* Hit */
#app_content .grid-container .grid .tile.hit {
  background-color: var(--accent-color);
  color:white;
  cursor: not-allowed;
}

/* Sunk */
#app_content .grid-container .grid .tile.sunk {
  background-color: var(--error-color);
  color:white;
  cursor: not-allowed;
}


/* Part (Only players) */
#app_content .grid-container #player_grid.grid .tile.part {
  background-color: var(--primary-color);
}



/* Disabled Grid Container */
#app_content .grid-container.disabled {
  opacity: 0.4;
}






/* ************
 * APP FOOTER *
 ************ */
#app_footer {
  text-align: center;
  margin-top: 50px;
  font-size:0.85rem;
}

#app_footer a {
  text-decoration: none;
  color: var(--light-text-color);
  margin-right: 15px;
}
#app_footer a:last-child {
  margin-right: 0;
}
#app_footer a:hover {
  opacity: 0.5;
}





/***************
 * GAME RESULT *
 ***************/
 #game_result_container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: fadein;
  animation-duration: 0.5s;
}
#game_result_container p {
  font-size:3rem;
  font-weight: 900;
}
#game_result_container .btn {
  margin-top: 35px;
  text-decoration: none;
  padding:15px;
  background-color: #1f1e1e;
  color:white;
  font-weight: bold;
  font-size: 0.8rem;
}
#game_result_container .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}








/* ***************************
 * RESPONSIVE MEDIA QUERIES  *
 *************************** */



/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
@media (min-width: 1281px) {




}
 
 
/*
 * DEVICE: Laptops, Desktops
 * SCREEN: B/w 1025px to 1280px
 */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* APP CONTENT */
  #app_content .spacer {
    flex: 0.05;
  }

  /* GRID */
  #app_content .grid-container .grid {
    grid-template: repeat(10, 30px) / repeat(10, 30px);
  }
}
 
 
/*
 * DEVICE: Tablets, Ipads (portrait)
 * SCREEN: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) {
  /* APP CONTENT */
  #app_content .spacer {
    flex: 0.05;
  }

  /* APP CONTENT */
  #app_content {
    margin-top: 25px;
    flex-direction: column;
  }
  #app_content .grid-container {
    flex-direction: column;
    align-items: center;
  }
  #app_content .grid-container:last-child {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  /* Grid */
  #app_content .grid-container .grid {
    grid-template: repeat(10, 45px) / repeat(10, 45px);
  }
  

  /* Ships' States */
  #app_content .grid-container .ships-states p {
    text-align: center;
  }
  #app_content .grid-container .ships-states .ships-row {
    justify-content: center;
  }
}
 
 
/*
 * DEVICE: Tablets, Ipads (landscape)
 * SCREEN: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* APP CONTENT */
  #app_content .spacer {
    flex: 0.05;
  }

}
 
 
/*
 * DEVICE: Low Resolution Tablets, Mobiles (Landscape)
 * SCREEN: B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {
  /* APP CONTENT */
  #app_content {
    margin-top: 25px;
    flex-direction: column;
  }
  #app_content .grid-container {
    flex-direction: column;
    align-items: center;
  }
  #app_content .grid-container:last-child {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  /* Grid */
  #app_content .grid-container .grid {
    grid-template: repeat(10, 35px) / repeat(10, 35px);
  }
  

  /* Ships' States */
  #app_content .grid-container .ships-states p {
    text-align: center;
  }
  #app_content .grid-container .ships-states .ships-row {
    justify-content: center;
  }
}

 
 
/*
 * DEVICE: Most of the Smartphones Mobiles (Portrait)
 * SCREEN: 480px to lower resolution mobiles
 */
@media (max-width: 480px) {
  /* APP CONTAINER */
  #app_container {
    padding:7px;
  }





  /* APP HEADER */
  #app_header #app_title {
    margin-top: 0;
    font-size: 2.2rem;
  }
  #app_header #app_subtitle {
    font-size: 0.85rem;
  }





  /* APP CONTENT */
  #app_content {
    margin-top: 25px;
    flex-direction: column;
  }
  #app_content .grid-container {
    flex-direction: column;
    align-items: center;
  }
  #app_content .grid-container:last-child {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  /* Grid */
  #app_content .grid-container .grid {
    grid-template: repeat(10, 25px) / repeat(10, 25px);
  }
  

  /* Ships' States */
  #app_content .grid-container .ships-states p {
    text-align: center;
  }
  #app_content .grid-container .ships-states .ships-row {
    justify-content: center;
  }
}